body {
	margin-top: 40px;
	text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;]
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0;
	}
	
.sidebar {
	width: 19%;
	overflow-x: hidden;
	overflow-y: auto;
	left: 0;
	top: 0;
	bottom: 40px;
	position: absolute;
	border: 0;
	margin: 0;
	padding: 3px;
	}

.googlecalsidebar {
	margin-top: 6px;
	padding: 0 10px 10px;
	border: 1px solid #ccc;
	background: #99CC99;
	text-align: left;
	}	

.googlecalsidebar .heading {
	margin: 10px 0 6px;
	font-size: 11px;
	font-weight: bold;
	}	

.settings {
	font-size: 10px;
	}		

#googlecalsettings {
	display : none;
	}	
	
#unscheduledtasks {
	padding: 10px;
	border: 1px solid #ccc;
	background: #eee;
	text-align: left;
	}
	
#unscheduledtasks h4 {
	font-size: 16px;
	margin-top: 0;
	padding-top: 1em;
	}
	
.unplannedtask { 
	margin: 10px 0;
	padding: 2px 4px;
	background: #3366CC;
	color: #fff;
	font-size: .85em;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	max-width: 350px;
	min-width: 100px;
	text-align: left;
	}
	
#unscheduledtasks p {
	margin: 1.5em 0;
	font-size: 11px;
	color: #666;
	}
	
#unscheduledtasks p input {
	margin: 0;
	vertical-align: middle;
	}

#rtmcalendar {
	left: 19%;
	top: 0;
	width: 80%;
	bottom: 40px;
	position: absolute;
	overflow-y: auto;
	border: 0;
	margin: 0;
	padding-left: 9px;
	padding-top: 3px;
}

#newtasktext {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 15px;
}

#rtmcalendar .fc-view {
	overflow: visible;
}

#rtmcalendar .gcal-event {
	background-color: #228200;
}

button#rtmauth {
	display: block;
	border: 1px solid #808080;
	padding: 10px;
	width: 100%;
}

#rtmloading {
	display: none; 
	padding-top: 5px;
}

#rtmerror {
	display: none; 
	padding: 5px; 
	color: red;
}

#rtmquery {
	display: none;	
}

#rtmquerytext {
	width: 85%;
}

#rtmqueryhelp {
    font-size: 11px;
    margin-left: 7px;
    text-decoration: none;
}

#rtmschedfooter {
	text-align: left;
	font-size: 11px;
	left: 0;
	position: absolute;
	height: 35px;
	bottom: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 5px;
	background-color: white;
	z-index: 100;
}

#googlecalendardialog {
	display: none;
	text-align: left;
	width: 500px;
}

#googlecalendardialog div {
	margin: 10px;
	font-size: 12px;
}

#googlecalendarxml {
	width: 95%;
}

#newtaskdialog {
	display: none;
	text-align: left;
}

#edittaskdialog {
	display: none;
}

#completetaskbtn, #deletetaskbtn {
	width: 45%;
}

#aboutdialog {
	display: none;
	text-align: left;
	width: 500px;
}

#aboutdialog div {
	margin: 10px;
	font-size: 12px;
}